---
import { Image } from "astro:assets";
import Modal from "./Modal.astro";

const { swiperData } = Astro.props;

const updatedSwiperData = swiperData.map((item: any, index: number) => item);

updatedSwiperData.push({
  day: "Thursday, 24 Mar. 2024",
  detailmore: `
    <div>
    test
    </div>
  `,
});
---

<div>
  {
    swiperData.map((items: any, index: number) => (
      <div>
        <h4>{items.day}</h4>
        <p>
          <span class="tag-time">เวลา {items.fromtime}</span>
          <span>{items.planfrom}</span>
          <span class="tag-duration">{items.duration}</span>
          <span>{items.planto}</span>
          <span class="tag-time">เวลา {items.totime}</span>
          <div class="button">
            <Modal
              items={items}
              key={index}
              updatedSwiperData={updatedSwiperData}
            />
          </div>
        </p>

        <div class="box-img">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              {items.locations.map((item: any) => (
                <div class="swiper-slide">
                  {item.picture !== "" && (
                    <Image src={item.picture} alt={item.picture} />
                  )}
                  <div class="box-shadow">
                    <div>
                      <h3>{item.location_name}</h3>
                      <button>
                        <a href={`${item.path}`}>ข้อมูลสถานที่</a>
                      </button>
                    </div>
                  </div>
                  {item.picture == "" && (
                    <div class="box-shadow empty-image"> No Image</div>
                  )}
                </div>
              ))}
            </div>

            <div class="swiper-button-next" />
            <div class="swiper-button-prev" />
            <div class="swiper-pagination" />
          </div>
        </div>
        {index === swiperData.length - 1 ? null : <hr />}
      </div>
    ))
  }
</div>

<style>
  .box-img {
    margin: 0px 20px;
  }

  h4 {
    margin: 15px 20px 0 20px;
  }
  hr {
    margin: 20px 0;
    border: 1px solid #525252a6;
  }
  p {
    margin: 10px 20px;
  }

  button {
    font-size: 1rem;
  }

  :root {
    --swiper-navigation-size: 24px;
  }

  .swiper {
    width: 100%;
    height: 250px;
    border-radius: 8px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-fraction {
    font-size: 12px;
  }

  .box-shadow {
    text-align: left;
    position: absolute;
    padding: 30px 20px;
    width: 100%;
    height: auto;
    bottom: 0;
    background: linear-gradient(rgb(0 0 0 / 5%), rgb(0, 0, 0));
  }

  .box-shadow div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .box-shadow div button {
    border-radius: 8px;
  }

  .empty-image {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: -99;
    background: black;
  }

  .button {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
</style>

<script is:inline>
  var swiper = new Swiper(".mySwiper", {
    effect: "fade",
    pagination: {
      el: ".swiper-pagination",
      type: "fraction",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
